<% content_for :sidebar do %>
  <!-- <div data-hook="homepage_sidebar_navigation">
    <%= render partial: 'spree/shared/taxonomies' %>
  </div> -->
<% end %>


  <section class="product_area mb-50">
      <div class="container">
          <div class="row">
              <div class="col-12">
                  <div class="section_title">
                      <h2><span> <strong>Our</strong>Products</span></h2>
                      <ul class="product_tab_button nav" role="tablist">
                          <!-- <li>
                              <a class="active" data-toggle="tab" href="#brake" role="tab" aria-controls="brake" aria-selected="true">Brake Parts</a>
                          </li>
                          <li>
                              <a data-toggle="tab" href="#wheels" role="tab" aria-controls="wheels" aria-selected="false">Wheels & Tires</a>
                          </li>
                          <li>
                              <a data-toggle="tab" href="#turbo" role="tab" aria-controls="turbo" aria-selected="false">Turbo System</a>
                          </li> -->
                      </ul>
                  </div>

              </div>
          </div>
          <div data-hook="homepage_products ">

                <div class="tab-content">
  <% cache(cache_key_for_products) do %>
    <%= render partial: 'spree/shared/products', locals: { products: @products } %>
  <% end %>
  </div>
</div>
</div>
</section>
